/* CSS das páginas de autenticação (/auth/login, /auth/register, /auth/verifyemail) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --orange: #fe4400;
  --secondary-orange: #d03800;
  --error: rgb(241, 62, 62);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s ease-in-out;
}

body > img {
  width: 180px;
  margin-top: 60px;
  margin-left: 76px;
}

/* 
Como só temos um section principal, podemos alterar diretamente ela.
Apenas um flex column centralizado com padding para o mobile
*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;

  width: 100%;
  max-width: 400px;

  margin: 200px auto 0 auto;
}

section form {
  align-items: center;
  width: 100%;
}

section h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

section span {
  text-align: center;
}

/*
Container do input
A gente envolve o <input/> dentro desse container pra
ficar mais simples de posicionar o ícone (se houver).
*/
.input-container {
  display: flex;
  align-items: center;

  padding: 10px 15px;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 10px;
}

.input-container input {
  border: none;
  font-size: 1.2rem;
  width: 100%;
}

.input-container input:focus {
  outline: none;
}

/*
Se tiver ícone, adicionar ele e criar uma margin pra esquerda (empurrando o input)
*/
.input-container i {
  margin-left: 10px;
  color: rgb(31, 31, 31);
}

/*
Ícone de alterar visibilidade da senha.
*/
#toggle-password:hover {
  cursor: pointer;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions a {
  color: black;
  text-decoration: none;
}

button {
  border: none;
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 64px;
  color: #fafafa;
  background-color: var(--orange);
}

button:hover {
  cursor: pointer;
  background-color: var(--secondary-orange);
}

/*
Botão em seu estado normal, escondendo o ícone de carregamento.
*/
.enabled i {
  display: none;
}

/*
Quando o botão está "disabled", ele esconde o texto e altera as cores.
*/
.disabled {
  background-color: lightgray;
}

.disabled span {
  display: none;
}

.disabled i {
  color: rgb(39, 39, 39);
}

.disabled:hover {
  background-color: rgb(197, 197, 197);
  cursor: wait;
}

#error {
  color: var(--error);
  font-weight: bold;
  text-align: center;
}
