/* CSS da segunda etapa do agendamento (/agendar/etapa2) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --available: #7dd836;
  --occupied: #f8c96e;
  --unavailable: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s ease-in-out;
}

/* Classes utilitárias para colorir o background */
.orange {
  background-color: var(--orange);
}

/* Container principal centralizado */
body > img {
  margin-top: 60px;
  margin-left: 76px;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

/* Container da esquerda */
.left_container {
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  flex-direction: column;
}

.detail div {
  display: flex;
  margin: 5px 0px;
  align-items: center;
}

.detail div div {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 5px;
}

h1 {
  font-size: xx-large;
}

h2 {
  color: #636363;
  font-weight: normal;
  font-size: large;
  margin: 5px 0px;
  width: 100%;
}

/* Container da direita */
.right_container {
  margin-left: 50px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  display: block;

  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 64px;
  color: #fff;

  background-color: #fe4400;
  width: fit-content;

  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #d03800;
}

/*
Botão em seu estado normal, escondendo o ícone de carregamento.
*/
.enabled i {
  display: none;
}

/*
Quando o botão está "disabled", ele esconde o texto e altera as cores.
*/
.disabled {
  background-color: lightgray;
}

.disabled span {
  display: none;
}

.disabled i {
  color: rgb(39, 39, 39);
}

.disabled:hover {
  background-color: rgb(197, 197, 197);
  cursor: wait;
}

#select_desk {
  padding: 15px;
  display: grid;

  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(48, 1fr);

  gap: 15px;

  max-width: 500px;
  overflow-x: auto;
}

.option {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover {
  cursor: pointer;
}

.available {
  background-color: var(--available);
}

.occupied {
  background-color: var(--occupied);
}

.occupied:hover {
  cursor: not-allowed;
}

.unavailable {
  background-color: var(--unavailable);
}

.unavailable:hover {
  cursor: not-allowed;
}

.selected {
  border: 2px solid black;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.actions #error {
  max-width: 300px;
  color: rgb(241, 62, 62);
  font-weight: bold;
}

/* Componente de carregamento */
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

/* Media queries */
@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  .right_container {
    margin: 0;
    margin-top: 20px;
    width: 100%;
  }
  main {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
  }
  #select_desk {
    max-width: 100%;
  }
  .detail {
    flex-direction: row;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .detail div {
    margin-right: 15px;
  }
}

/* Loader */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  border: 4px solid var(--orange);
  opacity: 1;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
