/* CSS da página de gerenciamento (/agendar/gerenciar) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s ease-in-out;
}

/* 
Como só temos um section principal, podemos alterar diretamente ela.
Apenas um flex column centralizado com padding para o mobile
*/
section {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;

  width: 100%;
  max-width: 800px;
  height: 95vh;

  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fe4400;
  font-weight: bold;
}

.appointment-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.appointment {
  background-color: #e9e9e9;
  padding: 15px;
  border-radius: 10px;

  width: 230px;

  margin: 10px 0px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.appointment h2 {
  font-size: 1.1rem;
}

.appointment p {
  font-weight: bold;
}

.appointment button {
  width: 100%;
  background-color: #d32f2f;
  border: none;

  color: white;
  font-weight: bold;
  padding: 5px 0px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
}

.appointment button:hover {
  cursor: pointer;
}

.appointment button i {
  display: none;
}

.confirm {
  background-color: #bb1111 !important;
}

.disabled {
  background-color: lightgray !important;
}

.disabled i {
  display: block !important;
  color: black !important;
}

.disabled span {
  display: none !important;
}

.disabled:hover {
  cursor: wait !important;
}

/* Componente de carregamento */
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

#nothing {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 8;
  top: 0;
  left: 0;
  position: fixed;
}

#nothing button {
  border: none;
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 64px;
  color: #fafafa;
  background-color: #fe4400;
}

#nothing button:hover {
  cursor: pointer;
  background-color: #d03800;
}

/* Loader */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  border: 4px solid #fe4400;
  opacity: 1;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
