/* CSS da página inicial (/homepage) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --orange: #fe4400;
  --secondary-orange: #d03800;

  --blue: #414099;
  --secondary-blue: #36357e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s ease-in-out;
}

/* Classes utilitárias para colorir o background */
.orange {
  background-color: var(--orange);
}

.blue {
  background-color: var(--blue);
}

/* Container principal centralizado */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container da esquerda, principal */
.left_container {
  display: 'flex';
  flex-direction: column;
}

img {
  margin-bottom: 20px;
}

button {
  border: none;
  display: block;
  margin: 20px 0px;

  padding: 10px 20px;
  font-size: 1.20rem;
  font-weight: 600;
  border-radius: 64px;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

.orange:hover {
  background-color: var(--secondary-orange);
}

.blue:hover {
  background-color: var(--secondary-blue);
}

h1 {
  font-size: xx-large;
}

h2 {
  color: #636363;
  font-weight: normal;
  font-size: large;
  margin: 5px 0px;
}

/* Container da direita, ilustração */
.right_container {
  margin-left: 100px;
}

/* Componente de carregamento */
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

/* Media queries */
@media (max-width: 1024px) {
  .right_container {
    display: none;
  }
}

/* Loader */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  border: 4px solid var(--orange);
  opacity: 1;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
