/* CSS da página inicial (/) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid orange; */
}

body > img {
  margin-top: 60px;
  margin-left: 76px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}

/* Container da esquerda, com a ilustração*/
.container_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_left img {
  width: 400px;
}

@media (max-width: 1024px) {
  .container_left {
    display: none;
  }
}

/* Container da direita */
.container_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.container_right .orange {
  margin-left: 2px;
  color: #fe4400;
  font-weight: bold;
}

.container_right h1 {
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
}

.container_right h2 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.container_right p {
  max-width: 500px;
  width: 100%;
  text-align: center;
  color: #636363;
}

.button_area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 35px;
}

.button_area button {
  text-decoration: none;
  text-transform: none;
  text-align: center;
  justify-content: center;
  border: none;
  align-items: center;
}

.button_area button:hover {
  cursor: pointer;
}

.button_area .cadastrar {
  background-color: #4b4fa1;
  display: flex;

  font-size: 1.20rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 64px;
  color: #fff;
  margin-right: 15px;
}

.button_area .entrar {
  background-color: #fc6027;
  padding: 10px 20px;
  display: flex;

  font-size: 1.20rem;
  font-weight: 600;
  border-radius: 64px;
  color: #fff;
}

.button_area .entrar:hover {
  background: #fe4400;
}

.button_area .cadastrar:hover {
  background: #414099;
}

.button_area .entrar img,
.button_area .cadastrar img {
  margin-left: 8px;
}

.button_area i {
  margin-left: 10px;
}
