* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.container .logo-fcamara {
    width: 180px;
    margin: 46px 0 110px 62px;
}

.login-content {
    display: flex;
    align-items: center;
}

.login-content .background-section {
    margin-left: 80px;
    margin-right: 80px;   
}

.login-content .form-section h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
}

.login-content .form-section p {
    text-align: center;
}

.login-content .form-section .login-input {
    display: flex;
    align-items: center;
    width: 430px;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 32px;
    border: 1px solid #000;
    border-radius: 8px;
}

.login-content .form-section .login-input input {
    width: 90%;
    height: 40px;
    border: none;
    outline: #000;
    font-size: 1.12rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.login-content .form-section .login-input svg {
    margin-left: 20px;
    margin-right: 8px;
}

.login-content .form-section .login-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-content .form-section .login-button a {
    font-size: 0.87rem;
}

.login-content .form-section .login-button .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 47px;
    background-color: #FC6027;
    border-radius: 64px;
}

.login-content .form-section .login-button .button:hover, button:hover {
    cursor: pointer;
}

.login-content .form-section .login-button button {
    height: 37px;
    border: none;
    background-color: #FC6027;
    font-size: 1.25rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
}

.login-content .form-section .login-button svg {

    color: #fff;
}