@media(max-width: 1024px) {
    .login-content .background-section {
        display: none;
    }

    .login-content .form-section {
        width: 100vw;
        margin: 0 auto;
    }

    .login-content .form-section .login-button {
        width: 400px;
    }
}

@media(max-width: 480px) {
    body {
        padding: 0;
    }

    .login-content .form-section {
        width: 90%;
    }

    .login-content .form-section .login-input {
        width: 90%;
    }

    .login-content .form-section .login-input input {
        font-size: 1rem;
    }

    .login-content .form-section .login-button {
        flex-direction: column;
    }

    .login-content .form-section .login-button .button {
        margin-top: 15px;
    }
}