@media (max-width: 1200px) {
  .login-content {
    width: 50vw;
  }

  .orange {
    width: 50vw;
  }
}

@media (max-width: 1024px) {
  .login-content {
    width: 60vw;
  }

  .login-content .login-input {
    width: 90%;
  }

  .orange {
    width: 40vw;
  }
}

@media (max-width: 700px) {
  .login-content {
    width: 100vw;
  }

  .orange {
    display: none;
  }
}

@media (max-width: 440px) {

  .login-content {
    width: 100vw;
    margin: 10px;
  }

  .login-content form h1 {
    font-size: 2rem;
    text-align: center;
  }

  .login-content form p {
    font-size: 1rem;
  }

  .login-content .login-input {
    height: 40px;
    padding-left: 10px;
  }

  .login-content .login-input svg {
    width: 20px;
  }

  .login-content .login-input input {
    height: 30px;
    font-size: .9rem;
  }

  .login-content .login-button {
    flex-direction: column;
  }

  .login-content .login-button a {
    margin-bottom: 20px;
  }
}