@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

section .content {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

section .content .info {
  width: 510px;
  display: flex;
  flex-direction: column;
}

section .content .info h1 {
  font-size: 3rem;
}

section .content .info p {
  font-size: 1.875rem;
  font-weight: 700;
  color:#505050; 
  margin-bottom: 33px;
}

section .box {
  background: #F4F4F4;
  width: 385px;
  height: 267px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 41px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-bottom: 32px;
}

section .box h5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 21px;
}

section .box .box-p, span {
  font-size: 1.25rem;
  font-weight: 700;
}

section .box p {
  font-size: 1.5rem;
  font-weight: 400;
}

section .button input[type='button'] {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 10px 55px;
  border-radius: 64px;
  border: none;
  background: #FC6027;
  color: #FFFFFF;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

section .button input[type='button']:hover {
  background: #fe4400;
}

/* Responsivo */

@media (max-width: 1500px) {
  section .content .info {
    
  }
}

@media (max-width: 1300px){

}

@media (max-width: 1050px){
  section .img {
    display: none;
  }
}

@media (max-width: 615px){
  
}

@media (max-width: 450px){
  
  section .content {
    align-items: center;
    height: auto;
    margin: 0;
  }

  section .content .info {
    align-items: center;
    width: 100%;
  }

  section .content .info h1 {
    font-size: 1.2rem;
  }

  section .content .info p {
    font-size: 1.1rem;
  }

  section .box {
    width: 230px;
    height: 200px;
    padding-left: 20px;
  }

  section .box h5 {
    font-size: 0.9rem;
  }

  section .box .box-p, span {
    font-size: 1rem;
  }

  section .box p {
    font-size: 1.2rem;
  }

  section .button input[type='button'] {
    padding: 10px 20px;
  }

}




