@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #e5e5e5;
}

section .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .login-content {
  background: #fafafa;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section .login-content .logo {
  margin-top: 93px;
  margin-bottom: 160px;
}

section .login-content .logo img {
  width: 11.25rem;
  height: 2.5rem;
}

section .login-content .login-form {
  text-align: center;
}

section .login-content .login-form h1 {
  font-weight: 500;
  font-size: 2.25rem
}

section .login-content .login-form p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #636363;
}

section .login-content .login-form .input-login {
  display: flex;
  border: 1px solid #404040;
  margin-top: 13px;
  border-radius: 8px;
  align-items: center;
  padding-right: 15px;
}

section .login-content .login-form .input-login input {
  width: 25rem;
  height: 2.813rem;
  border: none;
  padding: 15px;
  font-size: 1.125rem;
  font-weight: 500;
  outline: none;
  color: #9d9d9d;
  background: transparent;
}

#password-icon {
  cursor: pointer;
}

section .login-content .login-form .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

section .login-content .login-form .button-container input {
  text-align: center;
}

section .login-content .login-form .button-container input[type='submit'] {
  cursor: pointer;
  width: 13.125rem;
  height: 2.938rem;
  border: none;
  background: #36357e;
  border-radius: 64px;
  color: #fafafa;
  font-weight: 700;
  font-size: 1.25rem;
  padding-right: 20px;
  transition: all 0.3s ease-in-out;
}

section .login-content .login-form .button-container input[type='submit']:hover {
  background: #5952d4;
}

section .login-content .login-form .button-container .continue {
  position: relative;
}

section .login-content .login-form .button-container svg {
  position: absolute;
  right: 7px;
  top: calc(50% - 12px);
  color: #fafafa;
}

section .orange {
  width: 60%;
  height: 100%;
  background: #fe4400;
}

/* RESPONSIVIDADE */

@media (max-width: 1150px) {
  section .login-content {
    width: 50%;
  }

  section .login-content .logo {
    margin-bottom: 140px;
  }

  section .login-content .login-form h1{
    font-size: 1.563rem;
  }

  section .login-content .login-form p {
    font-size: 1rem;
  }

  section .login-content .login-form .input-login input {
    width: 21.875rem;
    height: 2.5rem;
    font-size: 0.938rem;
  }
}

@media (max-width: 900px) {
  section .login-content {
    width: 50%;
  }

  section .login-content .login-form h1 {
    font-size: 1.563rem;
  }

  section .login-content .login-form p {
    font-size: 1rem;
  }

  section .login-content .login-form .input-login {
    width: 21.875rem;
    height: 2.5rem;
    font-size: 0.938rem;
  }

  section .login-content .login-form .button-container .continue input[type='submit'] {
    width: 11.875rem;
    height: 1.875rem;
    font-size: 1.125rem;
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  section .login-content {
    width: 100%;
    height: auto;
  }

  section .orange {
    width: 0;
  }
}

@media (max-width: 360px) {
  section .login-content .login-form h1 {
    font-size: 1.125rem;
  }

  section .login-content .login-form p {
    font-size: 0.75rem;
  }

  section .login-content .login-form .input-login {
    width: 15.625rem;
    height: 1.875rem;
  }

  section .login-content .login-form .input-login input {
    font-size: 0.813rem;
  }

  section .login-content .login-form .input-login svg {
    width: 1.125rem;
  }

  section .login-content .login-form .button-container .continue input[type='submit'] {
    width: 8.125rem;
    height: 1.563rem;
    font-size: 0.75rem;
    padding-right: 15px;
  }

  section .login-content .login-form .button-container .continue svg {
    width: 1.25rem;
    padding-left: 5px;
  }
}
