@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #e5e5e5;
}

section .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .login-content {
  background: #fafafa;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section .login-content .logo {
  margin-top: 93px;
  margin-bottom: 160px;
}

section .login-content .logo img {
  width: 180px;
  height: 40px;
}

section .login-content .login-form {
  text-align: center;
}

section .login-content .login-form h1 {
  font-weight: 500;
  font-size: 36px;
}

section .login-content .login-form p {
  font-size: 18px;
  font-weight: 500;
  color: #636363;
}

section .login-content .login-form .input-login input {
  width: 400px;
  height: 45px;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  background: transparent;
}

section
  .login-content
  .login-form
  .input-login
  input[type='password']::placeholder {
  font-size: 12px;
}

section .login-content .login-form .input-login {
  display: flex;
  border: 1px solid #404040;
  margin-top: 13px;
  border-radius: 8px;
  align-items: center;
  padding-right: 15px;
}

section .login-content .login-form .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

section .login-content .login-form .button-container input {
  text-align: center;
}

#email-input {
  color: #636363;
}

section .login-content .login-form .button-container input[type='button'] {
  cursor: pointer;
  height: 47px;
  padding-left: 13px;
  border: none;
  background: #36357e;
  border-radius: 64px;
  color: #fafafa;
  font-weight: 700;
  font-size: 20px;
  padding-right: 30px;
  transition: all 0.3s ease-in-out;
}

section
  .login-content
  .login-form
  .button-container
  input[type='submit']:hover {
  background: #5952d4;
}

.disabled {
  background-color: lightgray !important;
  cursor: not-allowed !important;
}

section .login-content .login-form .button-container .continue {
  position: relative;
}

section .login-content .login-form .button-container svg {
  position: absolute;
  right: 7px;
  top: calc(50% - 12px);
  color: #fafafa;
}

section .orange {
  width: 60%;
  height: 100%;
  background: #fe4400;
}

#password-icon {
  cursor: pointer;
}

/* RESPONSIVIDADE */

@media (max-width: 1050px) {
  section .login-content {
    width: 50%;
  }

  section .login-content .logo {
    margin-bottom: 140px;
  }

  section .login-content .login-form h1 {
    font-size: 25px;
  }

  section .login-content .login-form p {
    font-size: 16px;
  }

  section .login-content .login-form .input-login input {
    width: 350px;
    height: 40px;
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  section .login-content {
    width: 50%;
  }

  section .login-content .login-form h1 {
    font-size: 25px;
  }

  section .login-content .login-form p {
    font-size: 16px;
  }

  section .login-content .login-form .input-login input {
    width: 350px;
    height: 40px;
    font-size: 15px;
  }

  section
    .login-content
    .login-form
    .input-login
    input[type='password']::placeholder {
    font-size: 10px;
  }

  section
    .login-content
    .login-form
    .button-container
    .continue
    input[type='submit'] {
    height: 30px;
    font-size: 18px;
    padding-right: 30px;
  }
}

@media (max-width: 800px) {
  section .login-content {
    width: 100%;
    height: auto;
  }

  section .orange {
    width: 0;
  }
}

@media (max-width: 360px) {
  section .login-content .login-form h1 {
    font-size: 20px;
  }

  section .login-content .login-form p {
    font-size: 14px;
  }

  section .login-content .login-form .input-login input {
    width: 300px;
    height: 35px;
    font-size: 13px;
  }

  section
    .login-content
    .login-form
    .button-container
    .continue
    input[type='submit'] {
    width: 115px;
    height: 25px;
    font-size: 15px;
    padding-right: 20px;
  }
}

@media (max-width: 360px) {
  section .login-content .login-form h1 {
    font-size: 18px;
  }

  section .login-content .login-form p {
    font-size: 12px;
  }

  section .login-content .login-form .input-login input {
    width: 100%;
    height: 30px;
    font-size: 13px;
  }

  section .login-content .login-form .input-login svg {
    width: 18px;
  }

  section
    .login-content
    .login-form
    .button-container
    .continue
    input[type='submit'] {
    width: 130px;
    height: 25px;
    font-size: 12px;
    padding-right: 15px;
  }

  section .login-content .login-form .button-container .continue svg {
    width: 20px;
    padding-left: 5px;
  }
}
