@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #E5E5E5;
}

section .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

section .login-content {
  background: #FAFAFA;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section .login-content .logo {
  margin-top: 93px;
  margin-bottom: 180px;
}

section .login-content .logo img {
  width: 180px;
  height: 40px;
}

section .login-content .login-form {
text-align: center;
}

section .login-content .login-form h1 {
  font-weight: 500;
  font-size: 36px;
}

section .login-content .login-form p {
  font-size: 18px;
  font-weight: 500;
  color: #636363;
}

section .login-content .login-form .input-login input {
  width: 400px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #404040;
  margin-top: 13px;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  color: #9D9D9D;
  background: #FAFAFA;
}

section .login-content .login-form .input-login input[type=password]::placeholder {
  font-size: 12px;
}

section .login-content .login-form .input-login {
  position: relative;
}

section .login-content .login-form .input-login svg {
  position: absolute;
  right: 20px;
  top: calc(50% - 7px);
}

section .login-content .login-form .options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

section .login-content .login-form .options-container .checkbox a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}

section .login-content .login-form .options-container input {
  text-align: center;
}

section .login-content .login-form .options-container input[type=submit] {
  cursor: pointer;
  width: 167px;
  height: 47px;
  border: none;
  background: #36357E;
  border-radius: 64px;
  color: #FAFAFA;
  font-weight: 700;
  font-size: 20px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}

section .login-content .login-form .options-container input[type=submit]:hover {
  background: #5952D4;
}

section .login-content .login-form .options-container .continue {
  position: relative;
}

section .login-content .login-form .options-container svg {
  position: absolute;
  right: 7px;
  top: calc(50% - 12px);
  color: #FAFAFA;
}

section .orange {
  width: 60%;
  height: 100%;
  background: #FE4400;
}

